<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html><!--<![endif]--><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta content="width=device-width,initial-scale=1.0" name="viewport">
    <title>MyWeb</title>
     <meta name="description" content="">
	<script type="text/javascript" src="./js/jquery.min.js"></script>
	
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <script src="http://code.jquery.com/jquery-1.9.0.js"></script>
    <![endif]-->

    <!--[if (gte IE 9) | (!IE)]><!-->
        <script type="text/javascript" src="./js/jquery.min.js"></script>
    <!--<![endif]-->
	<link href="./js/reset.css" rel="stylesheet" type="text/css" media="screen">
    <link href="./js/style.css" rel="stylesheet" type="text/css" media="screen">
    <link href="./js/availability.css" rel="stylesheet" type="text/css" media="screen">
    <link href="./fa/css/all.css" rel="stylesheet">
    <!-- <link href="./js/css" rel="stylesheet" type="text/css"> -->
	<script type="text/javascript" src="./js/rotatingbg.js"></script>
	<script type="text/javascript" src="./js/jsrender.min.js"></script>
	<script type="text/javascript" src="./js/fn-available.js"></script>
	<script src="./js/jquery-ui.js"></script>
 
	<script>
	 $(function() {
	   $( "#slider" ).slider({
	  		step: 5, value: 90, max: 90
	   });
	 });
	 </script>
<script>


</script>
</head>

<body class="activeMenu" style="">

 <!-- FULLSCREEN BG -->

<div class="fullscreenBackground" style="background-image: url(&quot;/images.v2/008.jpg&quot;); background-position: center top;"></div>

 <!-- MAIN PAGE LAYOUT || TWO COLUMNS  || LEFT COLUMN -->
 
 
 <div class="contentLeft">
	<div class="mainHeader">
		<a href="./index.html"><img class="logo" src="./js/logo.png"></a>
			<ul class="language-url">
		       <li>English<i class="fa fa-angle-down"></i>
		           <ul class="languagelist" id="language-list-1">
		               <li><a class="lang-en" href="./index.html">English</a></li>
		               <li><a class="lang-ru" href="./index.html">Русский</a></li>
		               <li><a class="lang-zh" href="./index.html">简体字</a></li>
		               <li><a class="lang-es" href="./index.html">Español</a></li>
		                 <li><a class="lang-th" href="./index.html">ไทย</a></li>
		               <li><a class="lang-id" href="./index.html">Bahasa Indonesia</a></li>
		               <li><a class="lang-fr" href="./index.html">Français</a></li>
		                 <li><a class="lang-vi" href="./index.html">Tiếng Việt</a></li>
		               <li><a class="lang-pt" href="./index.html">Português</a></li>
		               <li><a class="lang-tr" href="./index.html">Türkçe</a></li>
		               <li><a class="lang-de" href="./index.html">Deutsch</a></li>
		               <li><a class="lang-ar" href="./index.html">ﺎﻠﻋﺮﺒﻳﺓ</a></li>
		               <li><a class="lang-zu" href="./index.html">繁體字</a></li>
		               <li><a class="lang-hi" href="./index.html">Svenska</a></li>
		               <li><a class="lang-ro" href="./index.html">한국어</a></li>
		               <li><a class="lang-nl" href="./index.html">Nederlands</a></li>
		               <li><a class="lang-it" href="./index.html">Italiano</a></li>
		               <li><a class="lang-ja" href="./index.html">日本語</a></li>
		           </ul>
		       </li>
		   </ul>
			<a href="#" class="login_button">Login</a> 
		<span class="toggleMenu bars"><i class="fa fa-bars"></i></span>
		<span class="toggleMenu cross"><i class="fa fa-times"></i></span>
	</div>
	  	
	
	<section class="fixedToCart transparentBackground" style="display: none;">
		<div class="row margin centered" style="display: none;">
			<div class="span12 domainRegister textCenter" style="display: none;">
				<h3>Finished adding <strong>free</strong> &amp;  <strong>cost price</strong> domains?
				<a href="./cart.php?a=confdomains&amp;language=english" class="addToCart borderRadius" style="display: none;">Checkout</a>
	                    <span class="selectedDomains" style="display: none;">
	                        <a href="./cart.php?a=confdomains&amp;language=english">
	                        <span class="nrSelectedDomains">0</span> 
	                        <span class="multipleSelectedDomains">domains in cart</span>
	                        <span class="singleSelectedDomain" style="display:none">domain in cart</span>
	                        </a>
	                        <span class="maxCartReached" style="display:none"> (maximum reached <span class="popupBalloon balloonDown borderRadius borderRadius"><i class="fa fa-question-circle"></i><p>A maximum number of 10 domains can be registered within one single transaction. To register more domains in one transaction use the Freenom API and become a <a href="http://www.freenom.com/en/resellers.html" target="_blank">Freenom Reseller</a></p></span>)</span>
	                    </span>
	             </h3>
			</div>
		</div>
	</section>
	
	<div class="domainCheck firstCheck idle">
		<div class="row margin centered">
			<div class="span10 noFloat textCenter">
				<h1 class="splash">Free domains <strong>for all</strong></h1>
			</div>
			<div class="span10 borderRadius noFloat inputFields noOverflow">
					<form method="get" class="searchform" id="domainForm">
					    <input type="text" id="idn" placeholder="Find a new FREE domain" name="domainname">
					    <a id="submitBtn">Search</a>
					</form>
			</div>
		</div>
		<div class="row wrapperIframe transparentBackground">
			<!-- <iframe frameborder="0" style="padding: 10px" allowTransparency="true" scrolling="no" width="100%" height="200px" src="/en/iframe.html"> </iframe> -->
		</div>
	</div>
	
	<!-- BEGIN OF RESULTS -->
	<div class="allResults active">
		<div class="domainCheck domainResults transparentBackground ">
			<div class="row margin centered ">
				
				<div class="span8 borderRadius noFloat inputFields noOverflow">
					<form method="get" class="searchform" id="domainForm2">
					    <input type="text" id="idn" value="Find a new FREE domain" name="domainname" placeholder="">
					    <a id="submitBtn">Check Availability</a>
					</form>
				</div>
			</div>
		</div>
	
		<div class="domainResult zeroSection" style="display: none;">
			<div class="row margin padding centered">
				<div class="span12 domainRegister textCenter">
				
					<!-- ALERTS FOR DOMAINSTATUS -->
					<h2 class="alert" style="display: none;">Sorry, <strong class="dname">NaN</strong> is an invalid domain name.
	                    <a href="./cart.php?a=confdomains&amp;language=english" class="addToCart borderRadius" style="display: none;">Checkout</a>
	                    <span class="selectedDomains" style="display: none;">
	                        <a href="./cart.php?a=confdomains&amp;language=english"><span class="nrSelectedDomains">0</span> 
	                        <span class="multipleSelectedDomains">domains in cart</span>
	                        <span class="singleSelectedDomain" style="display:none">domain in cart</span>
	                        </a>
	                        <span class="maxCartReached" style="display:none"> (maximum reached <span class="popupBalloon balloonDown borderRadius borderRadius"><i class="fa fa-question-circle"></i><p>A maximum number of 10 domains can be registered within one single transaction. To register more domains in one transaction use the Freenom API and become a <a href="http://www.freenom.com/en/resellers.html" target="_blank">Freenom Reseller</a></p></span>)</span>
	                    </span>
	                </h2>
	            </div>
	        </div>
	    </div>
		
		<div class="domainResult firstSection" id="targetForFix">
			<div class="row margin padding centered">
				<div class="span12 domainRegister textCenter">
				
					<!-- ALERTS FOR DOMAINSTATUS -->
					<h2 class="succes" style="display: none;">Yes <strong class="dname">NaN</strong> is available! 
	                    <a href="./cart.php?a=confdomains&amp;language=english" class="addToCart borderRadius" style="display: none;">Checkout</a>
	                    <span class="selectedDomains" style="display: none;">
	                        <a href="./cart.php?a=confdomains&amp;language=english">
	                        <span class="nrSelectedDomains">0</span> 
	                        <span class="multipleSelectedDomains">domains in cart</span>
	                        <span class="singleSelectedDomain" style="display:none">domain in cart</span>
	                        </a>
	                        <span class="maxCartReached" style="display:none"> (maximum reached <span class="popupBalloon balloonDown borderRadius borderRadius"><i class="fa fa-question-circle"></i><p>A maximum number of 10 domains can be registered within one single transaction. To register more domains in one transaction use the Freenom API and become a <a href="http://www.freenom.com/en/resellers.html" target="_blank">Freenom Reseller</a></p></span>)</span>
	                    </span>
	                </h2>
	
					<h2 class="alert" style="display: none;">Sorry, <strong class="dname">NaN</strong> is not available. 
	                    <a href="./cart.php?a=confdomains&amp;language=english" class="addToCart borderRadius" style="display: none;">Checkout</a>
	                    <span class="selectedDomains" style="display: none;">
	                        <a href="./cart.php?a=confdomains&amp;language=english">
	                        <span class="nrSelectedDomains">0</span> 
	                        <span class="multipleSelectedDomains">domains in cart</span>
	                        <span class="singleSelectedDomain" style="display:none">domain in cart</span>
	                        </a>
	                        <span class="maxCartReached" style="display:none"> (maximum reached <span class="popupBalloon balloonDown borderRadius borderRadius"><i class="fa fa-question-circle"></i><p>A maximum number of 10 domains can be registered within one single transaction. To register more domains in one transaction use the Freenom API and become a <a href="http://www.freenom.com/en/resellers.html" target="_blank">Freenom Reseller</a></p></span>)</span>
	                    </span>
	                </h2>
	
					<h2 class="no_tld_result">
	                    <a href="./cart.php?a=confdomains&amp;language=english" class="addToCart borderRadius" style="display: none;">Checkout</a>
	                    <span class="selectedDomains" style="display: none;">
	                       <a href="./cart.php?a=confdomains&amp;language=english"><span class="nrSelectedDomains">0</span> 
	                        <span class="multipleSelectedDomains">domains in cart</span>
	                        <span class="singleSelectedDomain" style="display:none">domain in cart</span>
	                        </a>
	                        <span class="maxCartReached" style="display:none"> (maximum reached <span class="popupBalloon balloonDown borderRadius borderRadius"><i class="fa fa-question-circle"></i><p>A maximum number of 10 domains can be registered within one single transaction. To register more domains in one transaction use the Freenom API and become a <a href="http://www.freenom.com/en/resellers.html" target="_blank">Freenom Reseller</a></p></span>)</span>
	                    </span>
	                </h2>
	
					<table class="resultTable borderRadius" id="top_domain" style="display: none;">
						<tbody><tr>
							<td rowspan="2">
								<div class="domainName" id="dname"></div>
	                            <div class="domainLabel costPrice" style="display:none;">Cost Price</div>
	                            <div class="domainLabel forFree" style="display:none;">Free</div>
	                            <div class="domainLabel specialDomain" style="display:none;">Special <span class="popupBalloon balloonUp"><i class="fa fa-question-circle"></i><p>A Special Domain is a domain that can only be registered for a fee, because the domain is short or contains a meaningful dictionary word. Special Domains are of Great Value!</p></span></div>
								<div class="domainExtension" id="dtld"></div>
							</td>
							<td class="lastColumn priceTable">
								<div class="currency" id="dcurrency"></div>
								<div class="domainPrice" id="dprice_int">undefined.<span id="dprice_cent" class="cents"></span></div>
							</td>
							</tr>
							<tr>
							<td class="lastColumn submitTable">
								<a class="addTopToCart" id="top_domain_get_it_text" style="display: none;"></a>
								<a class="checkingTopToCart" style="display: none;"><i class="fa fa-spinner fa-spin"></i>Checking</a>
	                            <!-- showed by default -->
								<a class="addedToCart"><i class="fa fa-check"></i>Selected</a>
								<a class="removeSmall"><i class="fa fa-minus-circle"></i></a>
	
								<a class="topNotAvailable" style="display: none;"><i class="fa fa-times"></i>Not available</a>
							</td>
						</tr>
					</tbody></table>
				</div>
			</div>
		</div>
	
	    <input type="hidden" id="top_domain_get_it_free_text" value="Get it for Free!">
	    <input type="hidden" id="top_domain_get_it_now_text" value="Get it now">
		
		<div class="domainResult secondSection otherFreeDomains">
			<div class="row margin padding centered">
				<div class="span12 domainRegister textCenter">
	                <h3 id="check_free_domains" style="display:none;">Get one of these domains. They are <strong>free</strong>!</h3>
	                <h3 id="check_free_special_domains" style="display:none;">Get one of these domains.<strong>Free</strong> or with a <strong>High Value</strong>!</h3>
	                <h3 id="check_special_domains" style="display:none;">Get one of these<strong>High Value</strong> domains!</h3>
					<table class="resultTable borderRadius" id="free_domains">
			<tr>
				<td class="firstColumn">
					<div class="domainName">ddddd</div>
	                
					<div class="domainExtension">.tk</div>
				</td>
				<td class="lastColumn priceTable">
	                

					<!-- NOT AVAILABLE BTN -->
					<a class="notAvailable borderRadius"><i class="fa fa-times"></i>&nbsp;Not available</a>
	                
				</td>
			</tr>
	   
	    </table>
				</div>
			</div>
		</div>
	    <script id="freedomain_tmpl" type="text/x-jsrender" data-jsv-tmpl="_0">
			<tr {{if type == "SPECIAL"}} class="specials" {{/if}}>
				<td class="firstColumn">
					<div class="domainName">{{:domain}}</span></div>
	                {{if status == "AVAILABLE"}}
	                {{if type == "FREE"}}<div class="domainLabel forFree">Free</div>{{/if}}
					{{if type == "SPECIAL"}}<div class="domainLabel specialDomain">Special <span class="popupBalloon balloonUp"><i class="fa fa-question-circle"></i><p>A Special Domain is a domain that can only be registered for a fee, because the domain is short or contains a meaningful dictionary word. Special Domains are of Great Value!</span></div>{{/if}}
	                {{/if}}
					<div class="domainExtension">{{:tld}}</div>
				</td>
				<td class="lastColumn priceTable">
	                {{if status == "AVAILABLE"}}
	
					<div class="currency">{{:currency}}</div>
					<div class="domainPrice">{{:price_int}}.<span class="cents">{{:price_cent}}</span></div>
	                {{if type == "SPECIAL"}} <div class="domainTab specialDomain">Great Value</div> {{/if}}
	
					<!-- ADD TO CART BTN -->
	                {{if show_top_domain == 0}}<a class="addSelect getItNow borderRadius" {{if is_in_cart==0}} style="display: block;"{{else}} style="display: none;"{{/if}}>Get it now!</a>{{/if}}
	                {{if show_top_domain == 1}}<a class="addSelect borderRadius" {{if is_in_cart==0}} style="display: block;"{{else}} style="display: none;"{{/if}}>Select</a>{{/if}}
					
					<!-- LOADING BTN -->
					<a class="addLoading borderRadius" style="display: none;"><i class="fa fa-spinner fa-spin"></i>Checking</a> 
					
					<!-- REMOVE FROM CART BTN -->
	                <a class="removeSelected borderRadius" {{if is_in_cart==0}} style="display: none;" {{else}} style="display:block;"{{/if}} ><i class="fa fa-minus-circle"></i></a>
	                <a class="addSelected borderRadius" {{if is_in_cart==0}} style="display:none;" {{else}} style="display:block;" {{/if}}><i class="fa fa-check"></i>Selected</a>
					
					<!-- NOT AVAILABLE BTN -->
					<a class="notAvailable borderRadius" style="display: none;"><i class="fa fa-times"></i>&nbsp;Not available</a>
	
	                {{else}}
	
					<!-- NOT AVAILABLE BTN -->
					<a class="notAvailable borderRadius"><i class="fa fa-times"></i>&nbsp;Not available</a>
	                {{/if}}
				</td>
			</tr>
	    </script>
	    
	<div class="domainResult thirdSection otherCostPriceDomains">
			<div class="row margin padding centered">
				<div class="span12 domainRegister textCenter">
						<h3><strong>Cost Price Domains</strong> cannot be found cheaper elsewhere!</h3>
					<table class="resultTable borderRadius">
						<thead class="filter" id="paid_domains">
							<tr>
								<th colspan="2">
									<div class="slideMaxCharacters">
										<span>max. character</span>
										<div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 100%;"></span></div>
										<span class="range" id="max_chars">26</span>
									</div>
									<input id="locations" type="checkbox">
									<label for="locations">Countries/Locations only</label> 
								</th>
							</tr>
						</thead><tr class="paid_rows" location="false" style="">
					<td class="firstColumn">
						<div class="domainName">ddddd</div>
						<div class="domainLabel costPrice">Cost Price</div>
						<div class="domainExtension">.com</div>
					</td>
					<td class="lastColumn priceTable">
						<div class="currency">USD</div>
						<div class="domainPrice">8.<span class="cents">38</span></div>

						<!-- ADD TO CART BTN -->
	                    <a class="addSelect borderRadius" style="display: block;">Select</a>

						<!-- LOADING BTN -->
						<a class="addLoading borderRadius" style="display: none;"><i class="fa fa-spinner fa-spin"></i>Checking</a>

						<!-- REMOVE FROM CART BTN -->
						<a class="removeSelected borderRadius" style="display: none;"><i class="fa fa-minus-circle"></i></a>
	                    <a class="addSelected borderRadius" style="display: none;"><i class="fa fa-check"></i>Selected</a>

						<!-- NOT AVAILABLE BTN -->
						<a class="notAvailable borderRadius" style="display: none;"><i class="fa fa-times"></i>&nbsp;Not available</a>
					</td>
				</tr>
	        

				<tr class="paid_rows" location="false" style="display: none;">
					<td class="firstColumn">
						<div class="domainName">ddddd</div>
						<div class="domainLabel costPrice">Cost Price</div>
						<div class="domainExtension">.zone</div>
					</td>
					<td class="lastColumn priceTable">
						<div class="currency">USD</div>
						<div class="domainPrice">20.<span class="cents">53</span></div>

						<!-- ADD TO CART BTN -->
	                    <a class="addSelect borderRadius" style="display: block;">Select</a>

						<!-- LOADING BTN -->
						<a class="addLoading borderRadius" style="display: none;"><i class="fa fa-spinner fa-spin"></i>Checking</a>

						<!-- REMOVE FROM CART BTN -->
						<a class="removeSelected borderRadius" style="display: none;"><i class="fa fa-minus-circle"></i></a>
	                    <a class="addSelected borderRadius" style="display: none;"><i class="fa fa-check"></i>Selected</a>

						<!-- NOT AVAILABLE BTN -->
						<a class="notAvailable borderRadius" style="display: none;"><i class="fa fa-times"></i>&nbsp;Not available</a>
					</td>
				</tr>
					<!-- BEGIN FOR EACH -->
					<!-- END FOR EACH -->
								<!-- <div class="domainPrice">6.<span class="cents">78</span></div> -->
					
					</table>
				</div>
			</div>
	
	        <script id="paiddomain_tmpl" type="text/x-jsrender" data-jsv-tmpl="_1">
				<tr class="paid_rows" location="{{:location}}" style="display: none;">
					<td class="firstColumn">
						<div class="domainName">{{:domain}}</span></div>
						<div class="domainLabel costPrice">Cost Price</div>
						<div class="domainExtension">{{:tld}}</div>
					</td>
					<td class="lastColumn priceTable">
						<div class="currency">{{:currency}}</div>
						<div class="domainPrice">{{:price_int}}.<span class="cents">{{:price_cent}}</span></div>
						
						<!-- ADD TO CART BTN -->
	                    <a class="addSelect borderRadius" {{if is_in_cart==0}} style="display: block;" {{else}} style="display:none;" {{/if}} >Select</a>
						
						<!-- LOADING BTN -->
						<a class="addLoading borderRadius" style="display: none;"><i class="fa fa-spinner fa-spin"></i>Checking</a> 
						
						<!-- REMOVE FROM CART BTN -->
						<a class="removeSelected borderRadius" {{if is_in_cart==0}} style="display: none;" {{else}} style="display:block;"{{/if}} ><i class="fa fa-minus-circle"></i></a>
	                    <a class="addSelected borderRadius" {{if is_in_cart==0}} style="display: none;" {{else}} style="display:block;"{{/if}}><i class="fa fa-check"></i>Selected</a>
						
						<!-- NOT AVAILABLE BTN -->
						<a class="notAvailable borderRadius" style="display: none;"><i class="fa fa-times"></i>&nbsp;Not available</a>
					</td>
				</tr>
	        </script>
	    	</div>
		
		<section class="bottomCart paginate">
			<div class="row margin centered">
				<div class="span8 pagination textCenter" style="margin-top: 0;margin-bottom: 50px;">
			        <span>Showing results 1 / <span id="countResults">20</span></span>
			        <a href="javascript:;" id="showAllResults">Show All</a>
			        <br><br>
			        <a href="javascript:;" id="showMoreResults">Show more&nbsp;&nbsp;<i class="fa fa-angle-down"></i></a>
			    </div>
			    <div class="span4 domainRegister textCenter" style="margin-top: 0;">
			    	<!--<h3>Finished adding <strong>free</strong> &  <strong>cost price</strong> domains? --><a href="./cart.php?a=confdomains&amp;language=english" class="addToCart borderRadius" style="margin-right: 40px; display: none;">Checkout</a>
		                <span class="selectedDomains" style="display: none;">
		                    <a href="./cart.php?a=confdomains&amp;language=english">
		                    <span class="nrSelectedDomains">0</span> 
		                    <span class="multipleSelectedDomains">domains in cart</span>
		                    <span class="singleSelectedDomain" style="display:none">domain in cart</span>
		                    </a>
		                    <span class="maxCartReached" style="display:none"> (maximum reached <span class="popupBalloon balloonDown borderRadius borderRadius"><i class="fa fa-question-circle"></i><p>A maximum number of 10 domains can be registered within one single transaction. To register more domains in one transaction use the Freenom API and become a <a href="http://www.freenom.com/en/resellers.html" target="_blank">Freenom Reseller</a></p></span>)</span>
		                </span>
		        <!-- </h3> -->
			    </div>
		    </div>
		</section>
		
	</div>
	
	<!-- END OF RESULTS -->

</div>


 <!-- MAIN PAGE LAYOUT || TWO COLUMNS  || RIGHT COLUMN -->
 
<div class="contentRight">

	<ul class="mainNav">
<li>
	</li><li>
		<a href="./index.html">Dot TK</a>
		<ul class="subNav borderRadius">
			<li>
				<a href="./index.html" title="Register a New Domain">Register a New Domain</a>
			</li>
			<li>
				<a href="http://www.freenom.com/en/resellers.html" title="Hosting Providers" target="_blank">Hosting Providers</a>
			</li>
			<li>
				<a target="_blank" title="WHOIS" href="http://whois.freenom.com/">WHOIS</a>
			</li>
		</ul>
	</li>

	<li>
		<a href="./en/aboutdottk.html" title="Company">Company</a>
		<ul class="subNav borderRadius">
			<li>
				<a href="./en/aboutdottk.html" title="About Dot TK">About Dot TK</a>
			</li>
			<li>
				<a href="http://www.freenom.com/en/freeandpaiddomains.html" target="_blank" title="Business Opportunities">Business Opportunities</a>
			</li>
				<li>
			<a href="http://www.freenom.com/en/termsandconditions.html" target="_blank" title="Policies">Policies</a>
			</li>
		</ul>
	</li>

	<li>
		<a href="./knowledgebase.php?language=english" target="_blank" title="Support">Support</a>
		<ul class="subNav borderRadius">
			<li>
				<a href="./knowledgebase.php?language=english" target="_blank" title="Knowledgebase">Knowledgebase</a>
			</li>
			<li>
				<a href="http://www.freenom.com/en/reportabuse.html" title="Report abuse" target="_blank">Report abuse</a>
			</li>					
		</ul>
	</li>
</ul>
</div> <!-- end right -->
	


<script type="text/javascript">
    $(function() {
        $(".searchform").submit(function(e) {
    
            // hide error
            $("#input_error").hide();

            $domain = $("#idn").val();
            if ($domain == "") { e.preventDefault(); return ; }

                       // check input
            if (!$domain.match(/^([A-Z0-9]+[A-Z0-9-]*)\.ML$/i) || $domain.match(/\-\.ML$/i) ) {
                $("#input_error").show();
                e.preventDefault();
            }
            $("#idn").val($domain);
        });
    });
</script>



</body></html>